html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
.body{
    text-align: center;
    font-family: sans-serif;
}
.navigation ul{
   display: inline-block;
   list-style: none;
   margin: 0px;
   padding: 0px;
}
.navigation ul li{
    float: left;
}
.navigation ul li a{
    float: left;
    display: inline-block;
    background: #3498db;
    color: #fff;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 20px;
    text-transform: uppercase;
}
.navigation ul li a:hover{
    background: #1674b3;
}
.navigation ul li a:hover{
  display: block;
}
.navigation sSubMenu{
    position: absolute;
    width: 250px;
    left: 0px;
    top: 60px;
    display: none;
}
.SubMenu li{
    width: 100%;
    border-bottom: 1px solid #3d87ff;
    background: #3498db;
}
.SubMenu li a{
    width: 100%;
  text-align: left;
}